<IfModule mod_rewrite.c>
    RewriteEngine  on
    RewriteCond %{SCRIPT_FILENAME}  -f [OR]
    RewriteCond %{SCRIPT_FILENAME}/index.php    -f
    RewriteRule ^(.*)$            - [L]

    RewriteRule ^wfs$  wfs_query.php  [L,QSA]
</IfModule>