<IfModule mod_rewrite.c>
    RewriteEngine  on
    RewriteCond %{SCRIPT_FILENAME}  -f [OR]
    RewriteCond %{SCRIPT_FILENAME}/index.php    -f
    RewriteRule ^(.*)$            - [L]

    RewriteRule ^wfs(.*)$  wfs_query.php?wfs_path=$1  [L,QSA]
    RewriteRule ^wms(.*)$  wms_query.php?wms_path=$1  [L,QSA]
    RewriteRule ^rest(.*)$ rest_query.php?rest_path=$1 [L,QSA]
    RewriteRule ^www(.*)$ www_query.php?www_path=$1 [L,QSA]
</IfModule>